{% extends "admin/layout.html" %}
{% block title %}Account{% endblock %}

{% block content %}
<div ng-controller="accountCtrl">
    <section class="content-header">
      <h3>账户</h3>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="box-header with-border">
                <a data-toggle="modal" data-target="#reportModal">修改密码</a>
            </div>
            <div class="box-body">
              <input type="text" class="form-control" style="width: 60%;" placeholder="Email" ng-model="email">
              <br>
              <button class="btn-primary" ng-click="update()">更新</button>
            </div>
          </div>
        </div>
     </div>
    </section>
<!-- 模态框 -->
  <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="ModalLabel">修改密码</h4>
              </div>
              <div class="modal-body">
                <div class="table-responsive">
                  <input style="width: 60%;" type="password" class="form-control" ng-model="oldPassword" placeholder="旧密码">
                  <br>
                  <input style="width: 60%;" type="password" class="form-control" ng-model="newPassword" placeholder="新密码">
                  <br>
                  <input style="width: 60%;" type="password" class="form-control" ng-model="confrimPassword" placeholder="确认密码">
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  <button type="button" class="btn btn-primary" ng-click="changePassword()" data-dismiss="modal">修改</button>
              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal -->
  </div>
</div>
{% endblock %}

{% block scripts %}
%% super() %%
<script src="../static/js/admin/account.js"></script>
{% endblock %}