{% extends "admin/layout.html" %}
{% block title %}Article{% endblock %}

{% block content %}
<div ng-controller="createCtrl">
  <div ng-show="id>0">
    <section class="content-header">
      <h3>文章</h3>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
         <div class="box box-info">
          <div class="box-header">
              <h3 class="box-title">标题</h3>
          </div>
          <div class="box-body pad">
          	<input style="width: 60%;" tabindex="0" ng-model="title">
          	<input type="checkbox" class="flat-red" ng-model="isPublic">公开
          </div>
         </div>
        </div>
        <div class="col-md-12">
         <div class="box box-info">
           <div class="box-header">
              <h3 class="box-title">文章类型</h3>
           </div>
           <div class="box-body pad">
	           <select class="form-control select2 select2-hidden-accessible" style="width: 60%;" tabindex="1" aria-hidden="true" placeholder="类型" ng-model="type">
	               <option ng-repeat="t in types" value="{{t.Id}}" ng-selected="type == t.Id">{{t.Name}}</option>
	           </select>
	           <a data-toggle="modal" data-target="#reportModal">创建新类型</a>
           </div>
         </div>
        </div>
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title">年龄</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body pad">
                岁:
                <input type="number" ng-model="year" placeholder="岁" min="0" max="200">
                月:
                <input type="number" ng-model="month" placeholder="月" min="0" max="12">
                天:
                <input type="number" ng-model="day" placeholder="天" min="0" max="31">
            </div>
        </div>
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title">文章内容</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body pad">
                <div simditor ng-model="content" placeholder="文章内容"></div>
            </div>
          </div>
          <!-- /.box -->
        </div>
        <div class="col-md-12">
          <button class="btn btn-primary" ng-click="update()">更新</button>
          <button class="btn btn-danger" ng-click="delete()">删除</button>
        </div>
      </div>
    </section>
  <!-- 模态框 -->
  <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="ModalLabel">新建类型</h4>
              </div>
              <div class="modal-body">
                <div class="table-responsive">
                  <input style="width: 60%;" ng-model="name" placeholder="类型名称">
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  <button type="button" class="btn btn-primary" ng-click="createType()" data-dismiss="modal">创建</button>
              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal -->
  </div>
  </div>
  <div ng-show="id==0">
    <h3>文章</h3>
    <img src="../static/image/admin/disappear.png">
  </div>
</div>

<script>
  $(function () {
    $('.select2').select2()
  });
</script>
{% endblock %}

{% block scripts %}
%% super() %%
<script src="../static/js/admin/article.js"></script>
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="../static/lib/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="../static/lib/AdminLTE/plugins/select2/select2.min.css">
<!-- editor -->
<link rel="stylesheet" href="../static/lib/editor/simditor.css" />
<!-- Select2 -->
<script src="../static/lib/AdminLTE/plugins/select2/select2.full.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="../static/lib/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- editor -->
<script src="../static/lib/editor/simditor/simditor-all.js"></script>
<script src="../static/lib/editor/angular-editor.js"></script>
{% endblock %}