{% extends "admin/layout.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div ng-controller="indexCtrl">
    <section class="content-header">
      <h3>文章总数:&nbsp;{{article_number}}</h3>
    </section>
    <section class="content">
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">搜索条件</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <input class="form-control input-sm" style="width: 100%;" tabindex="0" aria-hidden="true" placeholder="标题" ng-model="title"/>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="1" aria-hidden="true" placeholder="类型" ng-model="type">
                        <option ng-repeat="t in types" value="{{t.Id}}" ng-selected="type == t.Id">{{t.Name}}</option>
                </select>
              </div>
            </div>
<!--             <div class="col-md-3">
              <div class="form-group">
                <div class="input-group">
                  <input type="checkbox" class="flat-red" ng-model="dateStartChecked" id="daterange-check">
                  start:
                  <input type="date" ng-model="dateStart">
                    <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                    <span>
                      <i class="fa fa-calendar"></i> {{dateRange}}
                    </span>
                    <i class="fa fa-caret-down"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="input-group">
                  <input type="checkbox" class="flat-red" ng-model="dateEndChecked">
                  end:
                  <input type="date" ng-model="dateEnd">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                  <input type="checkbox" class="flat-red" ng-model="onlyMine" id="onlyMine-check">
                  我的文章
              </div>
            </div> -->
            <div class="col-md-3">
              <div class="form-group">
                <button class="btn btn-primary" ng-click="search()">搜索</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">搜索结果</h3>
        </div>
        <div class="box-body">
          <div class="row">
          <table class="table table-bordered">
                <tbody ng-show="articles.length>0">
                  <tr ng-repeat="article in articles">
                    <td>
                      <h3><a ng-href="/admin/article?{{article.Id}}">{{article.Title}}</a></h3>
                      <div style="width:80%;height:100px;white-space:nowrap;text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;">
                         <span ng-bind-html="article.Content|htmlContent"></span>
                      </div>
                    <div>
                      <span>创建时间：{{article.CreateTime}}</span>
                      <span>上次更新：{{article.LastUpdateTime}}</span>
                    </div>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </section>
</div>
<script>
  $(function () {

    //Initialize Select2 Elements
    $('.select2').select2()

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    //Timepicker
    $('.timepicker').timepicker({
      showInputs: false
    })
  })
</script>
{% endblock %}

{% block scripts %}
%% super() %%
<script src="../static/js/admin/index.js"></script>
<!-- daterange picker -->
<link rel="stylesheet" href="../static/lib/AdminLTE/plugins/daterangepicker/daterangepicker.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="../static/lib/AdminLTE/plugins/datepicker/datepicker3.css">
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="../static/lib/AdminLTE/plugins/iCheck/all.css">
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="../static/lib/AdminLTE/plugins/colorpicker/bootstrap-colorpicker.min.css">
<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="../static/lib/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.css">
  <!-- Select2 -->
<link rel="stylesheet" href="../static/lib/AdminLTE/plugins/select2/select2.min.css">
<!-- Select2 -->
<script src="../static/lib/AdminLTE/plugins/select2/select2.full.min.js"></script>
<!-- InputMask -->
<script src="../static/lib/AdminLTE/plugins/input-mask/jquery.inputmask.js"></script>
<script src="../static/lib/AdminLTE/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="../static/lib/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<!-- date-range-picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="../static/lib/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap datepicker -->
<script src="../static/lib/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- bootstrap color picker -->
<script src="../static/lib/AdminLTE/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<!-- bootstrap time picker -->
<script src="../static/lib/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="../static/lib/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="../static/lib/AdminLTE/plugins/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<script src="../static/lib/AdminLTE/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../static/lib/AdminLTE/dist/js/app.min.js"></script>
{% endblock %}