{% extends "layout.html" %}

{% block scripts %}
%% super() %%
<link rel="stylesheet" href="/static/lib/AdminLTE/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="/static/lib/AdminLTE/dist/css/skins/_all-skins.min.css">
{% endblock %}

{% block body %}
   <div class="wrapper">
    <header class="main-header">
    <!-- Logo -->
    <a href="" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>小跳跳的网站</b>后台</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>小跳跳的网站</b>后台管理系统</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">         
          <a href="/api/admin/logout" class="btn btn-default btn-flat">Sign out</a>
        </ul>
      </div>
    </nav>
    </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li>
            <a href="\admin">
              <i class="fa fa-dashboard"></i> <span>面板</span>
            </a>
        </li>
        <li>
            <a href="\admin\create">
              <i class="fa fa-edit"></i> <span>新建文章</span>
            </a>
        </li>
        <li>
            <a href="\admin\type">
              <i class="fa fa fa-book"></i> <span>文章类型</span>
            </a>
        </li>
        <li>
            <a href="\admin\account">
              <i class="fa fa fa-user-circle-o"></i> <span>账户</span>
            </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
	{% block content %}
	{% endblock %}
	</div>
	<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy;2017 <a href="https://sydney.littlejumpjump.com">Sydney</a>&<a href="https://rex.littlejumpjump.com">Rex</a>.</strong> All rights
    reserved.
    </footer>
   </div>
{% endblock %}