{% extends "admin/layout.html" %}
{% block title %}please login{% endblock %}
{% block body %}
<div class="container" ng-controller="loginCtrl">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center">Please login</h1>
            <div>   
                <img class="profile-img" src="../static/image/admin/login.jpg" /> 
                <input type="text" class="form-control" placeholder="User name" ng-model="username" required autofocus>
                <br />
                <input type="password" class="form-control" placeholder="Password" ng-model="password" onkeypress="if(event.keyCode==13) {btn.click();return false;}" required>
                <br />
                <button class="btn btn-lg btn-primary btn-block" ng-click="login()" id="btn">
                    Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" ng-model="remember" />
                    Remember me
                </label>
                 <a href="#" class="pull-right need-help">Need help? </a>
                <span class="clearfix"></span>
                <span style="color: red">{{erroMessage}}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
%% super() %%
<script src="../static/js/admin/login.js"></script>
{% endblock %}