{% extends "admin/layout.html" %}
{% block title %}..........................{% endblock %}
{% block body %}
<div class="container" ng-controller="addUserCtrl">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center">Add User</h1>
            <div>   
                <input type="text" class="form-control" placeholder="User name" ng-model="username" required autofocus>
                <br />
                <input type="password" class="form-control" placeholder="Password" ng-model="password" onkeypress="if(event.keyCode==13) {btn.click();return false;}" required>
                <br />
                <button class="btn btn-lg btn-primary btn-block" ng-click="add()" id="btn">
                   OK</button>
                <span class="clearfix"></span>
                <span style="color: red">{{erroMessage}}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
%% super() %%
<script src="../static/js/admin/temp_add_user.js"></script>
{% endblock %}