{% extends "admin/layout.html" %}
{% block title %}Types{% endblock %}

{% block content %}
<div ng-controller="typeCtrl">
    <section class="content-header">
      <h3>文章类型</h3>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="box-header with-border">
                <a data-toggle="modal" data-target="#reportModal">创建新类型</a>
            </div>
            <div class="box-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>类型</th>
                    <th>更新</th>
                    <th>删除</th>
                  </tr>
                </thead>
                <tbody ng-show="types.length>0">
                  <tr ng-repeat="type in types">
                    <td>
                    <span>
                      {{type.Id}}
                    </span>
                    </td>
                    <td>
                    <span>
                     <input type="text" ng-model="type.Name">
                    </span>
                    </td>
                    <td><button class="btn-default" ng-click="update(type.Id,type.Name)">更新</button></td>
                    <td><button class="btn-danger" ng-click="remove(type.Id)">删除</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
     </div>
    </section>
<!-- 模态框 -->
  <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="ModalLabel">新建类型</h4>
              </div>
              <div class="modal-body">
                <div class="table-responsive">
                  <input style="width: 60%;" ng-model="name" placeholder="类型名称">
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  <button type="button" class="btn btn-primary" ng-click="createType()" data-dismiss="modal">创建</button>
              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal -->
  </div>
</div>
{% endblock %}

{% block scripts %}
%% super() %%
<script src="../static/js/admin/type.js"></script>
{% endblock %}