{% extends "layout.html" %}
{% block body %}
<div ng-controller="font_indexCtrl">
	<div class="container">				
			<header class="clearfix">
				<h1></h1>
			<div id="ss-links" class="ss-links">
			    <div ng-repeat="type in types">
				    <a ng-click="ChangeType(type.Id)">{{type.Name}}</a>
			    </div>
			</div>			
			</header>	
			<section class="main">
				<ul class="timeline">
					<li class="event" ng-repeat="article in articles">
						<input type="radio" name="tl-group"/>
						<label></label>
						<div class="thumb" ng-class = "{1:'user-1',2:'user-2',3:'user-3',4:'user-4',5:'user-5',6:'user-6',7:'user-7',8:'user-8'}[$index+1]">
						<span>{{article.Year}}岁{{article.Month}}月{{article.Day}}天</span></div>
						<div class="content-perspective">
							<div class="content">
								<div class="content-inner">
									<a ng-href="/page?{{article.Id}}"><h3>{{article.Title}}</h3></a>
									<div style="width:80%;height:100px;white-space:nowrap;text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;">
									<p> <span ng-bind-html="article.Content|htmlContent"></span></p>
									</div>
								</div>
							</div>
						</div>
					</li>					
				</ul>
			</section>
	</div><!-- /container -->
	<footer>
	<div class="pull-right hidden-xs">
      <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy;2017 <a href="http://sydney.littlejumpjump.com">Sydney</a>&<a href="http://rex.littlejumpjump.com">Rex</a>.</strong> All rights
    reserved.
    </footer>
</div>
{% endblock %}

{% block scripts %}
%% super() %%
<script src="/static/js/index.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<script src="/static/js/font.js"></script>
{% endblock %}