<!DOCTYPE html>
<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="tiaotiao" />
    <meta name="keywords" content="tiaotiao, syd, rex," />
    <head>
        <title>{% block title %}{% endblock %}</title>
        <!-- FOR IE9 below -->
        <!--[if lt IE 9]>
        <script src="/static/js/respond.min.js"></script>
        <![endif]-->
        <script src="/static/lib/jquery/jquery.js"></script>
        <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/lib/angular/angular.min.js"></script>
        <script src="/static/lib/ng-file-upload/ng-file-upload.min.js"></script>
        <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        {% block scripts %}
        {% endblock %}
    </head>
    <body ng-app="App" class="hold-transition skin-blue sidebar-mini">
    {% block body %}  
    {% endblock %}
    </body>
</html>